<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <center> <h2 style="margin-top: 20px"> New Trip Form </h2> </center>
    <form method="POST" action="register_new_trip">
        <div class="container" style="width: 600px; margin-top: 50px; margin-bottom: 50px">
            <div class="form-group">
                <label class="form-label">Associates: </label>
                <input class="form-control" type="text" placeholder="Enter Associates" name="associates" required maxlength="100">
            </div>
            <div class="form-group">
                <label class="form-label" for="trip_date">Trip date:</label>
                <input class="form-control" type="date" id="trip_date" name="trip_date" required>
            </div>
            <div class="form-group">
                <label class="form-label">Total cost: </label>
                <input class="form-control" type="number" placeholder="Enter Total Cost" name="total_cost" required min="1" max="1000000">
            </div>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" style="width:100%" name="register_new_trip">Register new trip</button>
        </div>
    </form>

    <form method="GET" action="register">
        <div class="container">
            {% for msg in messages %}
                {{ msg}}
            {% endfor %}
        </div>
    </form>
</body>
</html>